<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据中心</title>
</head>
<body>

<form action="/order_mgr/order_upload" method="post">
    <label>标题信息: </label><input type="text" name="title"><br>
    <label>客户信息: </label><input type="text" name="client_info"><br>
    <label>订单编号: </label><input type="text" name="order_number"><br>
    <label>申请时间: </label><input type="text" name="apply_time"><br>
    <label>店铺来源: </label><input type="text" name="store_from"><br>
    <label>发货快递: </label><input type="text" name="send_express"><br>
    <label>发货单号: </label><input type="text" name="send_number"><br>
    <label>退货单号: </label><input type="text" name="exit_number"><br>
    <label>车辆型号: </label><input type="text" name="car_type"><br>
    <label>退后原因: </label><input type="text" name="exit_reason"><br>
    <label>产品类型: </label><input type="text" name="product_type"><br>
    <label>解决方案: </label> <input type="text" name="solution"><br>
    <button type="submit">提交</button>
</form>

</body>
</html>