.upload_order_form {
    text-align: center;
    font-size: 20px;
    color: #333951;
}

.upload_order_form >p {
    margin: 20px;
}

.upload_order_form >p >label {
    display: inline-block;
    width: 150px;
    text-align: right;
}

.upload_order_form >p >input {
    margin-left: 10px;
    text-align:left;
    font-size:0.8em;
    height:2.0em;
    border:1px solid #c8cccf;
    color:#6a6f77;
    outline:0;
    width:30%;
    }

.order_status {
    width: 30%;
    height:2.0em;
}

.upload_order_form >p >button {
    width: 60px;
    height: 30px;
    margin-left: 120px;
    margin-top: 30px;
}